.tile{
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    z-index: 1;
    position: relative;
    clear: none;
    border: none;
}
.surface{
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
}
.earth{
    position: absolute;
    z-index: 2;
    background: transparent;
    width: 32px;
    height: 32px;
}
.water{
    position: absolute;
    z-index: 3;
    background: transparent;
    width: 32px;
    height: 32px;
}
.grass{
    position: absolute;
    z-index: 4;
    background: transparent;
    width: 32px;
    height: 32px;
}
.snow{
    position: absolute;
    z-index: 5;
    background: transparent;
    width: 32px;
    height: 32px;
}
.tree{
    position: absolute;
    z-index: 6;
    background: transparent;
    width: 32px;
    height: 32px;
}
.actor{
    position: absolute;
    z-index: 10;
    background: transparent;
    width: 32px;
    height: 32px;
}
.continentColor{
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
}