<div (click)="onClickMe()">
  <div class="coordinate">
  <div *ngIf="(currentView == 'TILE')">  
    <div *ngIf="(holder.coordinate.actors.length == 0)">
      <img class="surface" [src]="holder.coordinate.tile | imageSelector | sanitizedImage">
    </div>
      <div *ngIf="(holder.coordinate.actors.length != 0)">
        <img class="actor" [src]="holder.coordinate.actors | actorImageSelector | sanitizedImage">
        <img class="surface2" [src]="holder.coordinate.tile | imageSelector | sanitizedImage">
      </div>
    </div>
  </div>

  <div *ngIf="(currentView == 'CONTINENT')">
    <img class="continentColor" [src]="holder.coordinate | continentalColoring | sanitizedImage">
  </div>
</div>