.tile{
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    z-index: 1;
    position: relative;
    clear: none;
    border: none;
}
.surface{
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
}
.surface2{
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
}
.actor{
    position: absolute;
    z-index: 3;
    background: transparent;
    width: 32px;
    height: 32px;
}