<div class="row">
  <a class="words">[{{currentView}}] </a>
  <button (click)="switchToTileView()">Tiles</button>
  <button (click)="switchToContinentalView()">Continents</button>
  <button (click)="switchToFlowDirectionView()">Water flow</button>
  <button (click)="switchToRainMoistureColorView()">Rain</button>
  <button (click)="switchToAirMoistureColorView()">Cloud</button>
  <button (click)="switchToPlantView()">Plant</button>
  <button (click)="switchToAnimalView()">Animal</button>
</div>
<div *ngIf="coordinate != null">
  <div *ngIf="(currentView == 'CONTINENT')">
    <div class="words">Continent: {{coordinate.continent.continentId}}, type: {{coordinate.continent.type}}. coordinates
      are: {{coordinate.xCoord}}, {{coordinate.yCoord}}.</div>
  </div>
  <div *ngIf="(currentView == 'RAIN_MOISTURE')">
    <div class="words">Rain: {{coordinate.tile.rainfall}}, air moisture: {{coordinate.climate.airMoisture}}. coordinates
      are: {{coordinate.xCoord}}, {{coordinate.yCoord}}.</div>
  </div>
  <div *ngIf="(currentView == 'AIR_MOISTURE')">
    <div class="words">Rain: {{coordinate.tile.rainfall}}, air moisture: {{coordinate.climate.airMoisture}}. coordinates
      are: {{coordinate.xCoord}}, {{coordinate.yCoord}}.</div>
  </div>
  <div *ngIf="(currentView == 'TILE')">
    <div class="words">coordinates are: {{coordinate.xCoord}}, {{coordinate.yCoord}}. Surfacetype:
      {{coordinate.tile.surfaceType}}. Height: {{coordinate.tile.height}}. Current food:
      {{coordinate.tile.biome.grassBiomass + coordinate.tile.biome.treeBiomass}}. Currently contains
      {{coordinate.actors.length}} actor(s). Current airmoisture is: {{coordinate.climate.airMoisture}}.
    </div>
    <div class="words">surfaceType: {{coordinate.tile.surfaceType}}, rockType: {{coordinate.tile.rockType}}, river:
      {{coordinate.tile.river}}, grassFlora: {{coordinate.tile.biome.grassFlora?.name}}, treeFlora:
      {{coordinate.tile.biome.treeFlora?.name}}, rain: {{coordinate.tile.rainfall}}, downFlowAmount:
      {{coordinate.tile.downFlowAmount}}, flowDirection: {{coordinate.tile.flowDirection}}, airmoisture:
      {{coordinate.climate.airMoisture}}
    </div>
    <div *ngFor="let incomingAircurrent of coordinate.climate.incomingAircurrents.aircurrentList">
      <div class="words"> {{incomingAircurrent.aircurrentType}} aircurrent with {{incomingAircurrent.currentStrength}}
        strength , started from {{incomingAircurrent.startingXCoordinate}} X,
        {{incomingAircurrent.startingYCoordinate}} Y </div>
    </div>
  </div>
</div>

<div *ngIf="coordinate == null">
  <div class="words">none selected</div>
</div>